<div class="app-shell">
  <nz-layout style="height: 100%;">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"
      [nzWidth]="!isCollapsed && isMobile()? '100%' :'200px'" [nzCollapsedWidth]="65" class="appbackground">
      <span style="
      display: flow-root;">
        <div [class]="!isCollapsed?'logo flex center space-between':'logo flex center space-around'"
          [style]="isCollapsed?'padding-left:12px':'padding-left:12px'">
          <span class=" flex center space-between">
            <img src="../../../assets/veins-ico.png" alt="">
            <span class="heading" *ngIf="!isCollapsed">
              VEINS
            </span>
          </span>
          <span class="trigger" *ngIf="!isCollapsed && isMobile()" nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            [class]="!isCollapsed && isMobile()?'lightFont':'darkFont'" (click)="isCollapsed = !isCollapsed"></span>
        </div>
      </span>
      <div class="sideMenuItems">
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-menu-item [class.selected-route]="currentRoutes.length==0">
            <span nz-icon style="font-size: 18px;" nzType="bar-chart"></span>
            <span>
              <a class="nav-link" [routerLink]="['/']" [state]="{tracingId: 123}"
                (click)="isMobile()?isCollapsed=true:null">
                Dashboard
              </a>
            </span>
          </li>
        </ul>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-menu-item
            [class.selected-route]="currentRoutes.indexOf('customers')>-1 ">
            <span nz-icon style="font-size: 18px;" nzType="user-switch"></span>
            <span>
              <a class="nav-link" [routerLink]="['/purchase/customers']"
                (click)="isMobile()?isCollapsed=true:null">
                Customers
              </a>
            </span>
          </li>
          <li nz-menu-item
            [class.selected-route]="currentRoutes.indexOf('sales')>-1 && (currentRoutes.indexOf('status=' + saleState.Quote)>-1 || currentRoutes.join('').indexOf('SALE=')>-1 )">
            <span nz-icon style="font-size: 18px;" nzType="file-text"></span>
            <span>
              <a class="nav-link" [routerLink]="['/purchase/sales']" [queryParams]="{status:saleState.Quote}"
                (click)="isMobile()?isCollapsed=true:null">
                Quotes
              </a>
            </span>
          </li>
          <li nz-menu-item
            [class.selected-route]="currentRoutes.indexOf('sales')>-1 && (currentRoutes.indexOf('status=' + saleState.Invoiced)>-1 || currentRoutes.join('').indexOf('INVOICE=')>-1  )">
            <span nz-icon style="font-size: 18px;" nzType="file-done"></span>
            <span>
              <a class="nav-link" [routerLink]="['/purchase/sales']" [queryParams]="{status:saleState.Invoiced  }"
                (click)="isMobile()?isCollapsed=true:null">
                Invoices
              </a>
            </span>

          </li>
        </ul>
        <ul nz-menu nzTheme="dark" nzMode="inline">

          <li nz-menu-item
            [class.selected-route]="currentRoutes.indexOf('customers')==-1 && currentRoutes.indexOf('purchase')>-1 && currentRoutes.indexOf('sales')==-1&&currentRoutes.indexOf('sale')==-1&&currentRoutes.indexOf('sales?status=' + saleState.Quote)==-1&&currentRoutes.indexOf('sales?status=' + saleState.Invoiced)==-1">
            <span nz-icon style="font-size: 18px;" nzType="pull-request"></span>
            <span>
              <a class="nav-link" [routerLink]="['/purchase']" [state]="{tracingId: 123}"
                (click)="isMobile()?isCollapsed=true:null">
                Purchase Invoices
              </a>
            </span>
          </li>
          <li nz-menu-item [class.selected-route]="currentRoutes.indexOf('inventory')>-1">
            <span nz-icon style="font-size: 18px;" nzType="appstore"></span>
            <span>
              <a class="nav-link" [routerLink]="['/inventory']" [state]="{tracingId: 123}"
                (click)="isMobile()?isCollapsed=true:null">
                Inventory
              </a>
            </span>
          </li>
          <li nz-menu-item [class.selected-route]="currentRoutes.indexOf('vendor')>-1">
            <span nz-icon style="font-size: 18px;" nzType="profile"></span>
            <span>
              <a class="nav-link" [routerLink]="['/vendor']" [state]="{tracingId: 123}"
                (click)="isMobile()?isCollapsed=true:null">
                Vendors
              </a>
            </span>
          </li>
        </ul>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-menu-item style="margin-top: 12px;" [class.selected-route]="currentRoutes.indexOf('sites')>-1">
            <span nz-icon style="font-size: 18px;" nzType="build" size></span>
            <span>
              <a class="nav-link" [routerLink]="['/sites']" [state]="{tracingId: 123}"
                (click)="isMobile()?isCollapsed=true:null">
                Sites
              </a>
            </span>
          </li>
        </ul>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-menu-item style="margin-top: 12px;"
            [class.selected-route]="currentRoutes.indexOf('employee')>-1&&currentRoutes.indexOf('attendance')===-1&&currentRoutes.indexOf('pay-processing')===-1">
            <span nz-icon style="font-size: 18px;" nzType="profile" size></span>
            <span>
              <a class="nav-link" [routerLink]="['/employee']" [state]="{tracingId: 123}"
                (click)="isMobile()?isCollapsed=true:null">
                Employee
              </a>
            </span>
          </li>
          <li nz-menu-item style="margin-top: 12px;" [class.selected-route]="currentRoutes.indexOf('attendance')>-1">
            <span nz-icon style="font-size: 18px;" nzType="schedule" size></span>
            <span>
              <a class="nav-link" [routerLink]="['/employee',loggedInUser.id,'attendance']" [state]="{tracingId: 123}"
                (click)="isMobile()?isCollapsed=true:null">
                Attendance
              </a>
            </span>
          </li>
          <li nz-menu-item style="margin-top: 12px;"
            [class.selected-route]="currentRoutes.indexOf('pay-processing')>-1">
            <span nz-icon style="font-size: 18px;" nzType="schedule" size></span>
            <span>
              <a class="nav-link" [routerLink]="['/employee','pay-processing']" [state]="{tracingId: 123}"
                (click)="isMobile()?isCollapsed=true:null">
                Payments
              </a>
            </span>
          </li>
        </ul>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-menu-item style="margin-top: 12px;"
            [class.selected-route]="currentRoutes.indexOf('team')>-1&&currentRoutes.indexOf('roles')==-1">
            <span nz-icon style="font-size: 18px;" nzType="team" size></span>
            <span>
              <a class="nav-link" [routerLink]="['/team']" [state]="{tracingId: 123}"
                (click)="isMobile()?isCollapsed=true:null">
                Users
              </a>
            </span>
          </li>
          <li nz-menu-item style="margin-top: 12px;"
            [class.selected-route]="currentRoutes.indexOf('team')>-1&&currentRoutes.indexOf('roles')>-1">
            <span nz-icon style="font-size: 18px;" nzType="sliders" size></span>
            <span>
              <a class="nav-link" [routerLink]="['/team/roles']" [state]="{tracingId: 123}"
                (click)="isMobile()?isCollapsed=true:null">
                Permissions
              </a>
            </span>
          </li>

        </ul>
      </div>
      <nz-footer *ngIf="!isCollapsed">Veins system ©2024 Implement By SA3</nz-footer>
    </nz-sider>
    <nz-layout class="appbackground" *ngIf="!isMobile() || (isCollapsed && isMobile())">
      <nz-header>
        <div class="flex space-between center" style="flex-wrap: wrap;">
          <span class="flex center">
            <span class="trigger" *ngIf="isMobile()" nz-icon style="font-size: 18px;"
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></span>
            <!-- <h3 class="header-text" style="padding-left: 16px;">Home</h3> -->
          </span>
          <span class="flex center space-between" [style.width]="isMobile()?'100%':'auto'">
            <span>
              <button nz-button class="header-button" (click)="toggleOrganizations()">
                {{currentSubOrganization.name}}
                <span nz-icon style="font-size: 18px;" nzType="down"></span>
              </button>
              <app-organization-selector [visible]="showOrganizations"
                (closeDrawer)="toggleOrganizations()"></app-organization-selector>

            </span>
            <button nz-button class="userbtn" nzType="text" nz-dropdown [nzDropdownMenu]="menu1">
              <nz-avatar style="background-color: #f56a00;margin-right: 5px;"
                [nzText]="getUserInitials(loggedInUser.name)"></nz-avatar>
              <span nz-icon style="font-size: 18px;" nzType="down"></span>
            </button>

            <nz-dropdown-menu #menu1="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item nz-button nzType="text" (click)="logout()">Logout </li>
                <li nz-menu-item nz-button nzType="text">Change Password</li>
              </ul>
            </nz-dropdown-menu>
          </span>
        </div>
        <!-- <app-breadcrumb></app-breadcrumb> -->

      </nz-header>
      <nz-content class="content-main">
        <router-outlet />
      </nz-content>

    </nz-layout>
  </nz-layout>
</div>