<div class="app-shell">
  <nz-layout style="height: 100%;">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"
      [nzWidth]="!isCollapsed && isMobile()? '100%':'200px'">
      <div [class]="!isCollapsed?'flex center space-between':'flex center space-around'">
        <span class="logo flex center" style="background: #001529;">
          <img src="../../../assets/veins.png" alt="">
          <span class="heading" *ngIf="!isCollapsed">
            VEINS
          </span>
        </span>
        <span class="trigger" *ngIf="!isCollapsed && isMobile()" nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          [class]="!isCollapsed && isMobile()?'lightFont':'darkFont'" (click)="isCollapsed = !isCollapsed"></span>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item>
          <span nz-icon nzType="file"></span>
          <span>File</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="dashboard"></span>
          <span>
            <a class="nav-link" [routerLink]="['/']" [state]="{tracingId: 123}" (click)="isCollapsed=true;">
              Dashboard
            </a>
          </span>
        </li>
        <li nz-submenu nzTitle="Stocks" nzIcon="user">
          <ul>
            <li nz-menu-item> <a [routerLink]="['/purchase']" [state]="{tracingId: 2}" (click)="isCollapsed=true;">
                Stock Details
              </a>
            </li>
            <li nz-menu-item>
              <a [routerLink]="['/inventory']" [state]="{tracingId: 2}" (click)="isCollapsed=true;">
                Inventory
              </a>
            </li>
            <li nz-menu-item><a [routerLink]="['/vendor']" [state]="{tracingId: 2}" (click)="isCollapsed=true;">
                Vendors
              </a></li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Contractors" nzIcon="team">
          <ul>
            <li nz-menu-item>Add Contractor</li>
            <li nz-menu-item>Inquire Details</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Labours" nzIcon="team">
          <ul>
            <li nz-menu-item>Add Contractor</li>
            <li nz-menu-item>Inquire Details</li>
          </ul>
        </li>

        <li nz-menu-item>
          <span nz-icon nzType="setting"></span>
          <span>
            <a class="nav-link" [routerLink]="['/sites']" [state]="{tracingId: 123}" (click)="isCollapsed=true;">
              Sites
            </a>
          </span>
        </li>

        <li nz-submenu nzTitle="Team" nzIcon="team">
          <ul>
            <li nz-menu-item> <a [routerLink]="['/team']" [state]="{tracingId: 1}">
                Users
              </a>
            </li>
            <li nz-menu-item><a [routerLink]="['/team/roles']" [state]="{tracingId: 2}">
                Permissions
              </a></li>
          </ul>
        </li>
      </ul>
      <nz-footer *ngIf="!isCollapsed">Veins system ©2024 Implement By SA3</nz-footer>
    </nz-sider>
    <nz-layout class="appbackground" *ngIf="!isMobile() || (isCollapsed&&isMobile())">
      <nz-header>
        <div class="flex space-between center">
          <span class="flex center">
            <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              (click)="isCollapsed = !isCollapsed"></span>
            <h3>Home</h3>
          </span>
          <span class="flex center">
            <button nz-button class="header-button" (click)="toggleOrganizations()">
              {{currentSubOrganization.name}}
              <span nz-icon nzType="down"></span>
            </button>
            <app-organization-selector [visible]="showOrganizations"
              (closeDrawer)="toggleOrganizations()"></app-organization-selector>
            <nz-form [formGroup]="siteForm">
              <nz-select id="site" class="header-button" formControlName="site" placeholder="Select sites">
                <nz-option *ngFor="let siteItem of sites" [nzValue]="siteItem" [nzLabel]="siteItem.label"></nz-option>
              </nz-select>
            </nz-form>
            <button nz-button class="userbtn" nzType="text" nz-dropdown [nzDropdownMenu]="menu1">
              <nz-avatar style="background-color: #f56a00;margin-right: 5px;"
                [nzText]="getUserInitials(loggedInUser.name)"></nz-avatar>
              <span nz-icon nzType="down"></span>
            </button>

            <nz-dropdown-menu #menu1="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item nz-button nzType="text" (click)="logout()">Logout </li>
                <li nz-menu-item nz-button nzType="text">Change Password</li>
              </ul>
            </nz-dropdown-menu>
          </span>
        </div>
        <!-- <app-breadcrumb></app-breadcrumb> -->

      </nz-header>
      <nz-content class="content-main">
        <router-outlet />
      </nz-content>

    </nz-layout>
  </nz-layout>
</div>