.trigger {
    font-size: 18px;
    line-height: 50px;
    padding: 0 16px;
    margin-top: 3px;
    cursor: pointer;
    transition: color 0.3s;
}

.ant-layout-header {
    line-height: 50px;
}

.header-text {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    margin: auto;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 12px;
    margin-bottom: 12px !important;
    background: #001529;
    padding-left: 24px;

    img {
        height: 32px;
        width: 32px;
    }
}

@media (max-width: 600px) {
    .ant-layout-header {
        height: 72px;
        line-height: 22px;
    }

    ::ng-deep.ant-menu-submenu-title {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        min-height: 60px;
        padding-top: 10px;
    }

    .ant-menu-item,
    .ant-menu-submenu {
        border-bottom: 1px solid #343434;
        background: #88949f87;
        font-size: 16px !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        min-height: 60px;
        padding-top: 10px;
    }
  
    .anticon > * {
        line-height: 1;
        font-size: 16px !important;
    }

    .trigger {
        line-height: 33px;
        margin-top: 3px
    }

    .logo {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        margin: 0px;
        padding-left: 24px;
    }
}

.trigger:hover {
    color: #1890ff;
}


nz-header {
    background: #ffffff82;
    padding: 0;
    color: white;
}

nz-content {
    margin: 0 16px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

nz-footer {
    padding: 5px 5px;
    color: white;
    font-size: 9px;
    background: #f0f2f51f;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.app-shell,
app-shell {
    width: 100% !important;
}

.userbtn {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px !important;
    color: white;
}

.full-width {
    width: 100% !important;
}

.nav-link {
    color: white;
}

.lightFont {
    color: white !important
}

.heading {
    font-family: revert;
    color: white;
    font-weight: 800;
    font-size: 22px;
    white-space: pre;
    letter-spacing: 0.4em;
}