<button nz-button nzType="primary" (click)="open()">Add</button>
<app-create-user-drawer *ngIf="visible" [subOrganizations]="subOrganizations" [visible]="visible" [userRoles]="userRoles" [users]="listOfData"
    (closeDrawer)="close($event)" [isEdit]="isEdit" [selectedUser]="selectedUser"></app-create-user-drawer>
<nz-table #editRowTable #sortTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data; let i=index">
                <td>{{ data.name }}</td>
                <td>{{ data.reportTo }}</td>
                <td>{{ data.roleName }}</td>
                <td>{{ data.sub_organization }}</td>
                <td><a (click)="startEdit(i)">Edit</a></td>
                <td><a (click)="openChangePasswordModal(i)">Change <span nz-icon nzType="unlock" nzTheme="outline"></span></a> </td>
        </tr>
    </tbody>
</nz-table>