<div class="contract-container">
    <div class="flex space-between" style="margin-bottom:5px">
        <h3>Contracts</h3>
        <a [routerLink]="[site_id,'contract','new']" [state]="{tracingId: 2}">
            <button nz-button nzType="primary" [nzSize]="'small'">
                <span nz-icon nzType="plus"> </span>

            </button>
        </a>
    </div>
    <nz-table [nzPageSize]="1000" [nzShowPagination]="false" [nzData]="contracts" [nzFrontPagination]="false" [nzLoading]="loading"
        (nzQueryParams)="onContractsQueryParamsChange($event)">
        <!-- <thead>
            <tr>
                <th nzColumnKey="name" nzWidth="80%" [nzSortFn]="true">Contracts</th>
                <th nzColumnKey="gender" [nzFilters]="filterStates" [nzFilterFn]="true">Status</th>
            </tr>
        </thead> -->
        <tbody>
            <tr *ngFor="let data of contracts">
                <td [width]="'80%'">
                    <nz-list nzItemLayout="horizontal">
                        <nz-list-item>
                            <nz-list-item-meta>
                                <nz-list-item-meta-title>
                                    <span class="flex space-between">
                                        <span>{{data.contractor}} - {{ data.subject }}</span>
                                    </span>

                                </nz-list-item-meta-title>
                                <nz-list-item-meta-description>
                                    <span class="flex space-between">
                                        <span>
                                            <a [routerLink]="[site_id,'contract',data.id]" href="">CR-{{data.id}}</a>
                                            <nz-divider nzType="vertical"></nz-divider>
                                            <span class="dateDisplay">
                                                {{data.date_created | date : 'dd MMM yyyy' }}</span>
                                        </span>
                                    </span>
                                </nz-list-item-meta-description>
                            </nz-list-item-meta>
                        </nz-list-item>
                    </nz-list>
                </td>
                <td style="text-align: end;">
                    <span nz-button
                        [className]="data.state===states.Completed? 'status-chip green-button':'status-chip'">
                        {{ stateNames[data.state] }}
                    </span>
                </td>
            </tr>
        </tbody>
    </nz-table>


</div>