<nz-form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please enter a valid password">
        <input nz-input type="password" formControlName="password" placeholder="Enter your password" />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Change Password</nz-form-label>
      <nz-form-control [nzSpan]="14" [nzErrorTip]="passwordsMismatch ? 'Passwords must match' : 'Please enter a valid password'">
        <input nz-input type="password" formControlName="changePassword" placeholder="Enter new password" />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item *ngIf="passwordsMismatch">
      <nz-form-control [nzSpan]="14" >
        <nz-alert nzType="error" nzMessage="Passwords must match"></nz-alert>
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-control [nzSpan]="14" >
        <button nz-button nzType="primary" [disabled]="!changePasswordForm.valid" (click)="onSubmit()">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </nz-form>
  