<nz-form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSpan]="14"
      nzErrorTip="Password must contain at least one uppercase letter and one special character from !@#$&*">
      <nz-input-group  [nzSuffix]="suffixTemplate">

        <input nz-input [type]="passwordVisible ? 'text' : 'password'" id="newPassword" formControlName="password"
        [attr.autocomplete]="autoCompletePassword"
          placeholder="Change password here"/>
      </nz-input-group>
    </nz-form-control>
    <ng-template #suffixTemplate>
      <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible"></span>
    </ng-template>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Change Password</nz-form-label>
    <nz-form-control [nzSpan]="14"
      [nzErrorTip]="passwordsMismatch ? 'Passwords must match' : 'Password must contain at least one uppercase letter and one special character from \'!@#$&*\''">
      <input nz-input type="password" formControlName="changePassword" placeholder="Enter new password" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="passwordsMismatch">
    <nz-form-control [nzSpan]="14">
      <nz-alert nzType="error" nzMessage="Passwords must match"></nz-alert>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="14">
      <button nz-button nzType="primary" [disabled]="!changePasswordForm.valid" (click)="onSubmit()">Submit</button>
    </nz-form-control>
  </nz-form-item>
</nz-form>