<div class="flex space-between" style="margin-bottom:5px">
    <span style="display: -webkit-box;width: 100%;">   <h3 style="margin-right: 5px;">
        Customers
    </h3>
  
        <nz-input-group [nzSuffix]="suffixIconSearch" [nzSuffix]="inputClearTpl">
            <input type="text" placeholder="Search here" [(ngModel)]="searchValue" (keyup)="search()" nz-input />
            
          </nz-input-group>
          <ng-template #inputClearTpl>
            @if (searchValue) {
              <span
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                (click)="searchValue = '';search()"
                
              ></span>
            } @else{
                <span nz-icon nzType="search"></span>
            }
          </ng-template>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>

   </span>
    <button *appHasPermission="appPermissions.AddClients" nz-button (click)="open()" nzType="primary"
        [nzSize]="'small'">
        <span nz-icon nzType="plus"> </span>
        Add Customer
    </button>
</div>
<app-create-customer-drawer *ngIf="visible" [visible]="visible" [customers]="listOfDisplayData"
    (closeDrawer)="close($event)"></app-create-customer-drawer>
<nz-table #nestedTable [nzPageSize]="1000" nzShowPagination="false" #editRowTable #sortTable [nzData]="listOfDisplayData" >
    <thead>
        <tr>
            <th [width]="'2%'"></th>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-data [ngForOf]="sortTable.data" let-i="index">
            <tr>
                <ng-container *ngIf="!editCache[data.id]?.edit; else editTemplate">
                    <td [nzExpand]="expandSet.has(i)" (nzExpandChange)="onExpandChange(i, $event)"></td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.contact_no }}</td>
                    <td>{{ data.address }}</td>
                    <td>{{ data.account_no }}</td>
                    <td *appHasPermission="appPermissions.AddClients"><a (click)="startEdit(data.id)">Edit</a></td>
                </ng-container>
                <ng-template #editTemplate>
                    <td></td>
                    <td>
                        <input type="text" nz-input [(ngModel)]="editCache[data.id].data.name" />
                    </td>
                    <td>
                        <input type="text" nz-input [(ngModel)]="editCache[data.id].data.contact_no" />
                    </td>
                    <td>
                        <input type="text" nz-input [(ngModel)]="editCache[data.id].data.address" />
                    </td>
                    <td>
                        <input type="text" nz-input [(ngModel)]="editCache[data.id].data.account_no" />
                    </td>

                    <td *appHasPermission="appPermissions.AddClients">
                        <a (click)="saveEdit(data.id)" class="save">Save</a> &nbsp;
                        <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
                    </td>
                </ng-template>
            </tr>
            <tr [nzExpand]="data.expand">
                <div class="detailBar">
                    <span>
                    </span>
                    <span>
                        <button nz-button nzType="primary" (click)="generatePDF(i)"> <span nz-icon
                                nzType="download"></span></button>
                        <button style="margin-left: 12px;" nz-button nzType="primary" (click)="printCard(i)"> <span
                                nz-icon nzType="printer"></span></button>
                    </span>
                </div>
                <nz-table [nzShowPagination]="false" [nzData]="data.details||[]" [nzFrontPagination]="false"
                [nzPageSize]="1000" [nzLoading]="data.loading">
                    <thead>
                        <tr>
                            <th nzColumnKey="id" nzWidth="20%" [nzSortFn]="true">Quote Number</th>
                            <th nzColumnKey="date_create" nzWidth="20%" [nzSortFn]="true">Date</th>
                            <th nzColumnKey="id" nzWidth="20%" [nzSortFn]="true">Title</th>
                            <th nzColumnKey="state" [nzFilterFn]="true">Status
                            <th nzColumnKey="amount" nzWidth="20%" [nzSortFn]="true">Amount</th>
                        </tr>
                    </thead>
    <tbody>

        <tr *ngFor="let detail of data.details">
            <td>
                <a [routerLink]="['/', 'task','sales','sale']" [queryParams]="{ SALE: detail.sale_no }" href="">SALE
                    -
                    {{detail.sale_no}}</a>
            </td>
            <td> {{ detail.date_created | date : 'dd MMM yyyy' }} </td>
            <td> {{ detail.title }} </td>

            <td> <button nz-button nzType="primary"
                    [className]="detail.state===states.Invoiced? 'green-button':'default'"
                    [nzDanger]="detail.state===states.Cancelled" [nzSize]="'small'" nzShape="round">
                    {{ stateNames[detail.state] }}
                </button> </td>
            <td>
                <span>{{detail.total | currency :'PKR '}}</span>

            </td>
        </tr>
    </tbody>
</nz-table>
</tr>
</ng-template>
</tbody>
</nz-table>