<!-- NZ Table -->
<nz-table [nzPageSize]="1000" #basicTable nzShowPagination="false"
[nzFooter]="footerDetails"
[nzData]="WorklogData" [nzBordered]="true">
    <thead>
        <tr>
            <th>Date</th>
            <th>Task</th>
            <!-- <th>Sign In</th>
            <th>Sign Out</th> -->
            <th>Hours Worked</th>
            <th>Approved Hours</th>
            <th>Amount</th>
            <th *appHasPermission="appPermissions.ManagePayments"> Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of WorklogData">
            <td>{{ row.date_created | date : ' dd MMM yyyy' }}
                <td>Task-{{row.task.id}}</td>

            <!-- <td><span class="flex space-between" *ngIf="!editCache[row.id]?.edit"> {{ row.sign_in | date
                    : 'hh:mm a' }}
                    <a target="_blank" [href]="'https://www.google.com/maps?q='+row.sign_in_corrd"
                        nzType="default" nzShape="circle" nzShape="round">
                        <span nz-icon nzType="environment" nzTheme="outline"></span>
                    </a>
                </span>
                <nz-time-picker [nzUse12Hours]="true" *ngIf="editCache[row.id]?.edit" (ngModelChange)="signIn(row.id)"
                    [(ngModel)]="editCache[row.id]?.data.worklogObj.sign_in" nzFormat="HH:mm"></nz-time-picker>
            </td>
            <td><span class="flex space-between" *ngIf="!editCache[row.id]?.edit">{{ row.sign_out | date
                    : 'hh:mm a' }}
                    <a *ngIf="!editCache[row.id]?.edit" target="_blank"
                        [href]="'https://www.google.com/maps?q='+row.sign_out_corrd" nzType="default"
                        nzShape="circle" nzShape="round">
                        <span nz-icon nzType="environment" nzTheme="outline"></span>
                    </a>
                </span>
                <nz-time-picker [nzUse12Hours]="true" *ngIf="editCache[row.id]?.edit" (ngModelChange)="signOut(row.id)"
                    [(ngModel)]="editCache[row.id]?.data.worklogObj.sign_out" nzFormat="HH:mm"></nz-time-picker>
            </td> -->
            <td>{{ row.no_of_hours }}</td>
            <td>
                <span *ngIf="!editCache[row.id]?.edit"> {{ row.approved_hours }} </span>
                <input *ngIf="editCache[row.id]?.edit" (ngModelChange)="claculateAndSetAmount(row.id)" nz-input
                    [(ngModel)]="editCache[row.id]?.data.approved_hours" />
            </td>
            <td> <span *ngIf="!editCache[row.id]?.edit"> {{ (row.approved_hours || row.no_of_hours || 0) * employee.salary }} </span>
                <span *ngIf="editCache[row.id]?.edit"> {{ (editCache[row.id].data.approved_hours || editCache[row.id].data.no_of_hours || 0) * employee.salary }}</span>
            </td>
            <td *appHasPermission="appPermissions.ManagePayments">
                <a *ngIf="!editCache[row.id]?.edit && !row.paid" (click)="startEdit(row.id)">Edit</a>
                <a *ngIf="editCache[row.id]?.edit" (click)="saveEdit(row.id)" class="save">Save</a> &nbsp;
                <a *ngIf="editCache[row.id]?.edit" nz-popconfirm nzPopconfirmTitle="Sure to cancel?"
                    (nzOnConfirm)="cancelEdit(row.id)">Cancel</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #footerDetails>
    <span class="flex space-between center">

        <span></span>

        <span>
            <b>
           Total: 
            {{totalAmount | currency: 'PKR '}}</b></span>
    </span>
</ng-template>

<nz-row nzGutter="4" style="margin-top: 12px;">
    <nz-col [nzMd]="24" [nzSm]="24" [nzXs]="24">
        <nz-card style="width:100%;margin-top: 12px;">
            <div style="width: 100%; display: inline-block;">
                <div>
                    <div class="flex space-between" style="margin-bottom: 10px;" >
                        <span > <b>Balance:</b> </span><span> {{(balanceAmount ||0) |
                            currency:'PKR ' }}</span>
                    </div>
                    <button nz-button *appHasPermission="appPermissions.ManagePayments" (click)="completeEmployeePayment()"  nzType="primary"  style="margin-top: 12px;float: right;">
                        Pay</button>
                </div>
            </div>

           </nz-card>
    </nz-col>

    
</nz-row>

