<div class="flex center space-between">
    <h5>Contractors Payments</h5>
    <h5>{{total | currency:'PKR '}}</h5>

</div>

<nz-table #editRowTable [nzPageSize]="1000"  #sortTable nzShowPagination="false" [nzData]="listOfData" >
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority" [nzWidth]="column.width">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <td> {{ data.contractor | username }}</td>
            <td> {{ data.title }}</td>
            <td> {{ data.amount | currency: ' ' }}</td>
            <td>    <a [routerLink]="['contract',data.id]" href="">CR-{{data.id}}</a>
                  </td>
        </tr>
    </tbody>
</nz-table>