<div class="flex center space-between">
    <h3>Contractors Payments</h3>
</div>

<nz-table #editRowTable [nzPageSize]="1000"  #sortTable nzShowPagination="false" [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority" [nzWidth]="column.width">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <td> {{ data.contractor | username }}</td>
            <td> {{ data.subject }}</td>
            <td> {{ data.amount | currency: ' ' }}</td>
            <td>    <a [routerLink]="['contract',data.id]" href="">CR-{{data.id}}</a>
                  </td>
        </tr>
    </tbody>
</nz-table>