<div class="detailBar">
    <span>
        <h4> SALE - {{SaleRequestDetails.get('id')?.value || 'New'}} /
            {{stateNames[SaleRequestDetails.get('state')?.value]}}
        </h4>
    </span>
    <span>
        <button nz-button nzType="primary" (click)="generatePDF()"> <span nz-icon nzType="download"></span></button>
        <button style="margin-left: 12px;" nz-button nzType="primary" printSectionId="print-section" ngxPrint
            printTitle="MyTitle">
            <span nz-icon nzType="printer" nzTheme="outline"></span>
        </button>
    </span>
</div>

<div class="SaleRequest-request" id="print-section">
    <nz-card style="width:100%">
        <form nz-form [formGroup]="SaleRequestDetails" (ngSubmit)="submitForm()">
            <div #content>
              
                <div nz-row [nzGutter]="16">
                    <div nz-col class="gutter-row" [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sales_person">Sales
                                Person</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid date!">
                                <nz-select id="reports_to" formControlName="sales_person" placeholder="Select user">
                                    <nz-option *ngFor="let user of listOfData" [nzValue]="user?.id"
                                        [nzLabel]="user?.name"></nz-option>
                                </nz-select> </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="invoice_date">Invoice
                                Date</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid date!">
                                <nz-date-picker class="inputField" formControlName="invoice_date"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="due_date">Due Date</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid date!">
                                <nz-date-picker class="inputField" formControlName="due_date"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="24">
                        <nz-form-item>
                            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="subject">Subject</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid date!">
                                <input nz-input class="inputField" formControlName="subject">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>





                <nz-table [nzNoResult]="customNoDataTemplate" [nzBordered]="true" [nzShowPagination]="false"
                    style="margin-bottom: 12px;">
                    <thead>
                        <tr>
                            <th nzWidth="16%">Item</th>
                            <th nzWidth="15%">Quantity</th>
                            <th nzWidth="15%">Unit
                                Price
                            </th>
                            <th nzWidth="15%">
                                Discount %
                            </th>
                            <th nzWidth="15%">Total
                            </th>
                            <th nzWidth="2%"
                                *ngIf="SaleRequestDetails.controls.state.value==SaleStates.Draft || SaleRequestDetails.controls.state.value==SaleStates.PaymentConfirmation">
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td><button *ngIf="SaleRequestDetails.controls.state.value==SaleStates.Draft"
                                    style="float: left;" nz-button nzType="primary" nzSize="small" nzShape="round"
                                    (click)="addProductRow()">
                                    <span nz-icon nzTheme="outline" nzType="plus"></span>

                                </button>
                            </td>
                            <td></td>
                            <td></td>
                            <td>

                            </td>
                            <td>
                                <h5 [innerHTML]="SaleRequestDetails.get('item_cost')?.value| currency:'PKR '">
                                </h5>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <ng-container formArrayName="items">
                            <ng-container [formGroupName]="i"
                                *ngFor="let control of SaleRequestDetails.controls.items.controls; let i = index">
                                <tr>
                                    <td>
                                        <input *ngIf="SaleRequestDetails.controls.state.value!==SaleStates.Draft"
                                            nz-input-number formControlName="name"
                                            (ngModelChange)="onQuantityChange(i)">

                                        <nz-tree-select
                                            *ngIf="SaleRequestDetails.controls.state.value==SaleStates.Draft"
                                            [nzExpandedKeys]="expandableKey" [nzNodes]="nodes" nzShowSearch
                                            nzPlaceHolder="Please select" formControlName="selected_item"
                                            (ngModelChange)="onItemChange(i)"></nz-tree-select>
                                    </td>
                                    <td>
                                        <input nz-input-number formControlName="qty"
                                            (ngModelChange)="onQuantityChange(i)">
                                        <div class="error"
                                            *ngIf="control.get('qty')?.invalid && (control.get('qty')?.dirty || control.get('qty')?.touched)">
                                            <div *ngIf="control.get('qty')?.errors">Quantity cannot exceed
                                                {{control.get('max_qty')?.value}}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <input nz-input-number formControlName="unit_price"
                                            (ngModelChange)="onPriceChange(i)">
                                    </td>
                                    <td>
                                        <input nz-input-number formControlName="discount"
                                            (ngModelChange)="onDiscountChange(i)">
                                    </td>
                                    <td>
                                        <h5 [innerHTML]="(control.get('total')?.value *1) | currency:'PKR '"></h5>
                                    </td>
                                    <td
                                        *ngIf="SaleRequestDetails.controls.state.value==SaleStates.Draft || SaleRequestDetails.controls.state.value==SaleStates.PaymentConfirmation">
                                        <a *ngIf="SaleRequestDetails.controls.state.value==SaleStates.Draft "
                                            (click)="removeProduct(i)">
                                            <button style="float: right;" nz-button nzType="primary" nzSize="small"
                                                nzShape="round">
                                                <span nz-icon nzTheme="outline" nzType="minus"></span>
                                            </button>
                                        </a>
                                        <a *ngIf="SaleRequestDetails.controls.state.value==SaleStates.PaymentConfirmation && !control.get('returned_now')?.value"
                                            (click)="returnProduct(i)">
                                            <button style="float: right;" nz-button nzType="primary" nzSize="small"
                                                nzShape="round">
                                                <span nz-icon nzTheme="outline" nzType="rollback"></span>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                <ng-container *ngIf="!!hasReturnItemFormGroup(control)">
                                    <tr style="background: lightcoral;">
                                        <td>Reason</td>
                                        <td>Quantity</td>
                                        <td>Price Charged / Item</td>
                                        <td> Charges </td>
                                        <td> </td>
                                    </tr>
                                    <ng-container formArrayName="return_details">
                                        <ng-container [formGroupName]="di"
                                            *ngFor="let rt of getReturnItemFormGroup(control)?.controls ; let di = index">

                                            <tr style="background: lightcoral;">
                                                <td>
                                                    <input nz-input formControlName="reason">
                                                </td>
                                                <td>
                                                    <input nz-input-number formControlName="qty"
                                                        (change)="calculateCharge(i,di)">
                                                </td>
                                                <td>
                                                    {{ rt.get('unit_price')?.value | currency : 'PKR '}}
                                                </td>
                                                <td>
                                                    <input nz-input-number formControlName="charge"
                                                        (change)="calculateCharge(i,di)">
                                                </td>
                                                <td>
                                                    {{
                                                    (rt.get('returnAmount')?.value * -1) | currency : 'PKR '
                                                    }}
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </nz-table>
                <nz-row nzGutter="4" style="margin-bottom: 12px;">
                    <nz-col [nzSm]="24" [nzXs]="24" [nzMd]="8" [nzXl]="8" [nzXXl]="8">
                        <nz-card style="margin-top: 12px !important;" [nzActions]="[totalLabel, totalAmount]">
                            <nz-form-item>
                                <nz-form-label nzFor="shipment_charges">Shipment Charges
                                </nz-form-label>
                                <nz-form-control nzErrorTip="The input is not valid date!">
                                    <input nz-input class="inputField" formControlName="shipment_charges">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzFor="additional_cost">Additional Cost
                                </nz-form-label>
                                <nz-form-control nzErrorTip="The iinput is not valid date!">
                                    <input nz-input class="inputField" formControlName="additional_cost">
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzFor="additional_cost">Discount %
                                </nz-form-label>
                                <nz-form-control nzErrorTip="The input is not valid date!">
                                    <input nz-input class="inputField" formControlName="overall_discount"
                                        (change)="calculateOverAllDiscountAndTotal()">
                                </nz-form-control>
                            </nz-form-item>
                            <div>
                            </div>
                        </nz-card></nz-col>
                    <nz-col [nzSm]="24" [nzXs]="24" [nzMd]="16" [nzXl]="16" [nzXXl]="16">

                        <nz-card style="margin-top: 12px !important;"
                            *ngIf="SaleRequestDetails.controls.state.value!=SaleStates.Draft" [nzTitle]="header"
                            [nzActions]="[balanceLabel, balanceAmount]">

                            <nz-table style="margin-bottom: 12px;
                            padding: 12px;
                            background: white;" *ngIf="SaleRequestDetails.controls.payment_history.controls?.length">

                                <tr>
                                    <td>Payment Notes</td>
                                    <td>Amount</td>
                                </tr>
                                <ng-container formArrayName="payment_history">
                                    <ng-container [formGroupName]="pi"
                                        *ngFor="let rt of SaleRequestDetails.controls.payment_history.controls; let pi = index">

                                        <tr>
                                            <td> <input nz-input style="width: auto;" formControlName="notes"></td>
                                            <td> <input nz-input-number formControlName="total"
                                                    (change)="calculateBalance()"></td>
                                        </tr>
                                    </ng-container>
                                </ng-container>

                            </nz-table>
                            <nz-form-item>
                                <nz-form-label nzFor="amount_paid">Amount Paid
                                </nz-form-label>
                                <nz-form-control nzErrorTip="">
                                    {{SaleRequestDetails.get('amount_paid')?.value | currency :'PKR '}}
                                </nz-form-control>
                            </nz-form-item>

                        </nz-card>
                    </nz-col>
                </nz-row>
                <ng-template #totalLabel>
                    <h5>Discount</h5>
                    <h3>Total</h3>
                </ng-template>
                <ng-template #totalAmount>
                    <p
                        [innerHTML]="(((SaleRequestDetails.get('items_discount_total')?.value) * 1)+((SaleRequestDetails.get('overall_discount_total')?.value) * 1) )| currency:'PKR '">
                    </p>
                    <h4 [innerHTML]="SaleRequestDetails.get('total')?.value| currency:'PKR '">
                    </h4>
                </ng-template>
                <ng-template #header>
                    <button *ngIf="SaleRequestDetails.controls.state.value==SaleStates.PaymentConfirmation"
                        style="float: left" nz-button nzType="primary" nzSize="small" nzShape="round"
                        (click)="addPaymentControlRow()">
                        <span nz-icon nzTheme="outline" nzType="plus"></span> Add Payments
                    </button>
                    <h3 *ngIf="SaleRequestDetails.controls.state.value!==SaleStates.PaymentConfirmation">
                        Payment Details
                    </h3>
                </ng-template>
                <ng-template #balanceLabel>
                    <h3>Balance</h3>
                </ng-template>
                <ng-template #balanceAmount>
                    <h4 [innerHTML]="SaleRequestDetails.get('balance')?.value| currency:'PKR '">
                    </h4>
                </ng-template>

                <nz-card style="width:100%;margin-bottom: 12px;">
                    <nz-form-item>
                        <nz-form-label nzFor="notes">Customer Notes</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzXl]="24" [nzXXl]="24" nzErrorTip="">
                            <textarea nz-input formControlName="notes"
                                placeholder="textarea with clear icon"></textarea>

                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="terms">Terms & Conditions</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzXl]="24" [nzXXl]="24" nzErrorTip="">
                            <textarea nz-input formControlName="terms"
                                placeholder="textarea with clear icon"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="due_date">Attachments</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzXl]="24" [nzXXl]="24"
                            nzErrorTip="The input is not valid date!">
                            <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                                [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)">
                                <button nz-button>
                                    <span nz-icon nzType="upload"></span>
                                    Click to Upload
                                </button>
                            </nz-upload>
                        </nz-form-control>
                    </nz-form-item>
                </nz-card>
            </div>
            <span class="flex space-between">
                <span>
                    <button *ngIf="(SaleRequestDetails.controls.state.value==SaleStates.PaymentConfirmation)" nz-button
                        nzType="primary" (click)="cancelPaymentDetails()" nzDanger
                        style="margin-bottom: 12px;float: right;">Cancel</button>
                </span>
                <span>
                    <button *ngIf="SaleRequestDetails.controls.state.value==SaleStates.Draft" nz-button nzType="primary"
                        (click)="submitRequest()" style="margin-bottom: 12px;float: right;">Submit</button>

                    <button *ngIf="SaleRequestDetails.controls.state.value==SaleStates.PaymentConfirmation" nz-button
                        nzType="primary" (click)="confirmPaymentDetails(true)"
                        style="margin-bottom: 12px;margin-right: 12px;">
                        Save
                    </button>
                    <button *ngIf="SaleRequestDetails.controls.state.value==SaleStates.PaymentConfirmation" nz-button
                        nzType="primary" (click)="confirmPaymentDetails()"
                        style="margin-bottom: 12px;float: right;">Confirm
                        Payment</button>

                </span>
            </span>
        </form>
    </nz-card>
</div>

<ng-template #renderTemplate>
    <div class="container">
        <input type="text" nz-input #inputElement />
        <a class="add-item" (click)="addItem(inputElement)">
            <span nz-icon nzType="plus"></span>
            Add item
        </a>
    </div>
</ng-template>

<ng-template #customNoDataTemplate>

</ng-template>