<h3>Owner Payments</h3>
<nz-table #editRowTable #sortTable nzShowPagination="false" [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <ng-container *ngIf="!editCache[data.id]?.edit; else editTemplate">
                <td>{{ data.refered_by }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.quantity }}</td>

                <td>{{ data.amount }}</td>
                <td>
                    <label nz-checkbox disabled [nzChecked]="editCache[data.id].data.is_paid" [(ngModel)]="editCache[data.id].data.is_paid"></label>
                   
                </td>
                <td><a (click)="startEdit(data.id)">Edit</a></td>
            </ng-container>
            <ng-template #editTemplate>
                <td>
                    <!-- <nz-select id="refered_by" [(ngModel)]="editCache[data.id].data.refered_by"
                        placeholder="Select user" *ngIf="listOfData.length">
                        <nz-option *ngFor="let user of listOfData" [nzValue]="user?.id"
                            [nzLabel]="user?.name"></nz-option>
                    </nz-select> -->
                </td>

 
                <td>
                    <nz-select id="role_id" [(ngModel)]="editCache[data.id].data.name" placeholder="Select role">
                        <nz-option *ngFor="let sub of subOrganizations" [nzValue]="sub?.value || 0"
                            [nzLabel]="sub?.key || ''"></nz-option>
                    </nz-select>

                </td>
                <td>
                    <input nz-input id="amount" [(ngModel)]="editCache[data.id].data.amount" />
                 </td>
                 <td>
                    <input nz-input id="quantity" [(ngModel)]="editCache[data.id].data.quantity" />
                 </td>
                 <td>
                    <label nz-checkbox [nzChecked]="editCache[data.id].data.is_paid" [(ngModel)]="editCache[data.id].data.is_paid"></label>
                   
                 </td>
                <td>
                    <a (click)="saveEdit(data.id)" class="save">Save</a> &nbsp;
                    <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
                </td>
            </ng-template>
        </tr>
    </tbody>
</nz-table>