.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.app-login {
  background: white;
  padding: 32px;
  margin: 50px;
  border-radius: 12px;
}