<div class="flex center space-between">
    <h5>Expenses</h5>
    <h5>{{total | currency:'PKR '}}</h5>
    <h5><button nz-button nzType="primary" (click)="showModal()">
        <span nz-icon nzType="plus"> </span>
        </button></h5>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Add Expense" (nzOnCancel)="handleCancel()"
    [nzOkDisabled]="addExpenseForm.invalid" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">

    <nz-card *nzModalContent style="width:100%">
        <form nz-form [formGroup]="addExpenseForm" (ngSubmit)="handleOk()">
            <nz-row nzGutter="2" style="margin-bottom: 12px;">
                <nz-col [nzMd]="12" [nzSm]="24" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzMd]="8" [nzSm]="24" [nzXs]="12" nzRequired nzFor="name">Name</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid date!">
                            <!-- <nz-select class="inputField" formControlName="name" [nzDropdownRender]="renderTemplate"
                                nzAllowClear nzPlaceHolder="Select item" (ngModelChange)="onExpenseNameChange($event)">
                                <nz-option *ngFor="let item of vendorItems" [nzLabel]="item.name"
                                    [nzValue]="item.name"></nz-option>
                            </nz-select> -->
                            <app-select-modal-control formControlName="name" [data]="vendorItems"
                                [displayColumns]="displayControlColumns" [header]="'Select Product'"
                                [modelValue]="'name'" [addCustom]="true" (ngModelChange)="onExpenseNameChange($event)">
                            </app-select-modal-control>
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
                <nz-col [nzMd]="12" [nzSm]="24" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzMd]="8" [nzSm]="24" [nzXs]="12" nzRequired
                            nzFor="quantity">Quantity</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid date!">
                            <input (change)="onQuantityChange()" class="inputField" nz-input formControlName="quantity">
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
            </nz-row>
            <nz-row nzGutter="2" style="margin-bottom: 12px;">
                <nz-col [nzMd]="12" [nzSm]="24" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzMd]="8" [nzSm]="24" [nzXs]="12" nzRequired nzFor="name">Unit
                            Price</nz-form-label>
                        <nz-form-control class="flex space-between center " [nzSm]="14" [nzXs]="24"
                            nzErrorTip="The input is not valid date!">
                            <input (change)="onUnitPriceChange()" class="inputField" nz-input
                                formControlName="unit_price">
                            &nbsp;
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>

                <nz-col [nzMd]="12" [nzSm]="24" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzMd]="8" [nzSm]="24" [nzXs]="12" nzRequired nzFor="name">Amount</nz-form-label>
                        <nz-form-control class="flex space-between center " [nzSm]="14" [nzXs]="24"
                            nzErrorTip="The input is not valid date!">
                            <div class="flex center space-between">
                                <span> {{addExpenseForm.get('amount')?.value |currency : ' '}} </span>
                                <label nz-checkbox [nzChecked]="addExpenseForm.get('is_paid')?.value"
                                    formControlName="is_paid">Paid</label>

                            </div>

                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
            </nz-row>
            <nz-row nzGutter="2" style="margin-bottom: 12px;">


                <nz-col [nzMd]="12" [nzSm]="24" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzMd]="8" [nzSm]="24" [nzXs]="12" nzFor="refered_by">Refered By</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid date!">
                            <nz-select class="inputField" id="reports_to" formControlName="refered_by"
                                placeholder="Select user">
                                <nz-option *ngFor="let user of users" [nzValue]="user?.id"
                                    [nzLabel]="user?.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
            </nz-row>
            <nz-row nzGutter="2" style="margin-bottom: 12px;">
                <nz-col [nzMd]="24" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzMd]="8" [nzSm]="24" [nzXs]="12" nzRequired nzFor="name">Payment
                            Notes</nz-form-label>
                        <nz-form-control class="flex space-between center " [nzSm]="14" [nzXs]="24"
                            nzErrorTip="The input is not valid date!">
                            <textarea class="inputField" nz-input formControlName="note"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
            </nz-row>
        </form>
    </nz-card>
</nz-modal>
<ng-template #renderTemplate>
    <div class="container">
        <input type="text" nz-input #inputElement />
        <a class="add-item" (click)="addItem(inputElement)">
            <span nz-icon nzType="plus"></span>
            Add item
        </a>
    </div>
</ng-template>

<nz-table #editRowTable [nzPageSize]="1000" #sortTable nzShowPagination="false" [nzData]="listOfData"
    >
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <ng-container *ngIf="!editCache[data.id]?.edit; else editTemplate">
                <td>{{ data.refered_by | username }}</td>
                <td>{{!data.is_general?'PO - '+data.purchase_id+' ':''}}
                    {{ data.name }}</td>
                <td>{{ data.quantity }}</td>
                <td>{{ data.unit_price }}</td>
                <td>{{ data.amount }}</td>
                <td>
                    <label nz-checkbox disabled [nzChecked]="editCache[data.id].data.is_paid"
                        [(ngModel)]="editCache[data.id].data.is_paid"></label>
                </td>
                <td><a (click)="startEdit(data.id)">Edit</a></td>
            </ng-container>
            <ng-template #editTemplate>
                <td>{{ data.refered_by }}</td>
                <td>
                    <span *ngIf="data.is_general">
                        <input nz-input [(ngModel)]="editCache[data.id].data.name">

                    </span>
                    <span *ngIf="!data.is_general">{{editCache[data.id].data.name}}</span>
                </td>

                <td>
                    <input nz-input id="quantity" (ngModelChange)="onItemQuantityChange(data.id)"
                        [(ngModel)]="editCache[data.id].data.quantity" />
                </td>
                <td>

                    <span *ngIf="data.is_general">
                        <input nz-input id="unit_price" (ngModelChange)="onItemQuantityChange(data.id)"
                            [(ngModel)]="editCache[data.id].data.unit_price" />
                    </span>

                    <span *ngIf="!data.is_general">{{editCache[data.id].data.unit_price}}</span>

                </td>
                <td>
                    <input nz-input disabled id="unit_price" [(ngModel)]="editCache[data.id].data.amount" />
                </td>
                <td>
                    <label nz-checkbox [disabled]="!data.is_general" [nzChecked]="editCache[data.id].data.is_paid"
                        [(ngModel)]="editCache[data.id].data.is_paid"></label>

                </td>
                <td>
                    <a (click)="saveEdit(data.id)" class="save">Save</a> &nbsp;
                    <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
                </td>
            </ng-template>
        </tr>
    </tbody>
</nz-table>