<div class="flex space-between" style="">
    <span style="display: -webkit-box;width: 100%;">
        <h3 style="margin-right: 5px;">
            Employees
        </h3>

        <nz-input-group [nzSuffix]="suffixIconSearch" [nzSuffix]="inputClearTpl">
            <input type="text" placeholder="Search here" [(ngModel)]="searchValue" (keyup)="search()" nz-input />

        </nz-input-group>
        <ng-template #inputClearTpl>
            @if (searchValue) {
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                (click)="searchValue = '';search()"></span>
            } @else{
            <span nz-icon nzType="search"></span>
            }
        </ng-template>
        <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
        </ng-template>

    </span>
    <button *appHasPermission="appPermissions.UpdateClientEmployee" nz-button nzType="primary" (click)="open()">Add</button>
</div>

<app-employee-contract *ngIf="visible" [clients]="clients" [visible]="visible" [users]="users"
    (closeDrawer)="close($event)" [editableItem]="editableItem" [isNew]="isNew" ></app-employee-contract>
<nz-table #editRowTable [nzPageSize]="1000" #sortTable nzShowPagination="false" [nzData]="listOfDisplayData"
    >
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
<ng-container *ngFor="let data of sortTable.data">
        <tr  *filterUser="{ user: loggedInUser, permissionName: 0, isAdmin: this.loggedInUser.is_admin , isContractor: false,userIds:[data.employee] }">
            <ng-container *ngIf="!editCache[data.id]?.edit; else editTemplate">
                <td>{{ data.employee|username }}</td>
                <td>{{ data.position }}</td>
                <td>{{ data.salary }}</td>
                <!-- <td *filterUser="{ user: loggedInUser, permissionName: 0, isAdmin: this.loggedInUser.is_admin , isContractor: false,userIds:[] }">{{ data.salary }} {{data.isHourlyRateHourly?'/h':'/m'}}</td> -->
                <!-- <td>{{ data.overtime }}</td>
                <td>{{ data.siginout_required }}</td>
                <td>{{ data.workingHours }}</td> -->
                <td><a *appHasPermission="appPermissions.UpdateClientEmployee" (click)="startEdit(data.id);open(false)">Edit</a>
                </td>
            </ng-container>
            <ng-template #editTemplate>
                <td>{{ data.employee|username }}</td>

                <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.position" /></td>

                <!-- <td>
                    <nz-select id="supervisor" [(ngModel)]="editCache[data.id].data.supervisor"
                        placeholder="Select user" *ngIf="listOfData.length">
                        <nz-option *ngFor="let user of users" [nzValue]="user?.id" [nzLabel]="user?.name"></nz-option>
                    </nz-select>
                </td> -->

                <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.salary" /></td>
                <!-- <td>
                    <label nz-checkbox [(ngModel)]="editCache[data.id].data.overtime"
                        [nzChecked]="editCache[data.id].data.overtime"></label>
                </td>
                <td>
                    <label nz-checkbox [(ngModel)]="editCache[data.id].data.siginout_required"
                        [nzChecked]="editCache[data.id].data.siginout_required"></label>
                </td>
                <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.workingHours" /></td> -->

                <td>
                    <a (click)="saveEdit(data.id)" class="save">Save</a> &nbsp;
                    <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
                </td>
            </ng-template>
        </tr>
    </ng-container>
    </tbody>
</nz-table>