<nz-drawer *appHasPermission="appPermissions.SwitchOrganization" [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" [nzTitle]="organization" (nzOnClose)="close()">
    
    <ng-container *nzDrawerContent>
          <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
            @for (item of data; track item) {
            <nz-list-item nz-button nzType="text" class="selectedItem" (click)="setSubOrganization(item)">
                <nz-list-item-meta [nzAvatar]="item.filename? item.filename:
                'A'" 
                    nzDescription="">
                    <nz-list-item-meta-title>
                       {{ item.name }}
                    </nz-list-item-meta-title>
                </nz-list-item-meta>
            </nz-list-item>
            }
            @if (data.length === 0) {
            <nz-list-empty />
            }
        </nz-list>

    </ng-container>
    <nz-modal [(nzVisible)]="isModalVisible" nzTitle="Add Organization" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <nz-form *nzModalContent [formGroup]="addOrgForm">
            <nz-form-item>
                <nz-form-label nzRequired>Organization Name</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please input Organization name">
                    <input nz-input formControlName="name" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired>Organization Image</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please input Organization name">
    
                    <section>
                        <button (click)="compressFile()">Upload</button>
                        <div>
                            <img style="width: 100px;height: 100px;" *ngIf="addOrgForm.get('filename')?.value" [src]="addOrgForm.get('filename')?.value" alt="" />
                        </div>
                      </section>
                </nz-form-control>
            </nz-form-item>
        </nz-form>
    </nz-modal>
</nz-drawer>

<ng-template #organization>
    <div class="flex space-between center">
        <h4>Organizations</h4>

        <div *appHasPermission="appPermissions.CreateOrganization">
            <button nz-button nzType="primary" (click)="showModal()">+</button>
        </div>
    </div>
</ng-template>