<div *appHasPermission="appPermissions.UpdatePermissions">
    <button nz-button nzType="primary" (click)="showModal()">Add Role</button>
</div>

<!-- Modal for adding role name -->
<nz-modal [(nzVisible)]="isModalVisible" nzTitle="Add Role" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <nz-form *nzModalContent [formGroup]="addRoleForm">
        <nz-form-item>
            <nz-form-label nzRequired>Role Name</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please input role name">
                <input nz-input formControlName="role_name" />
            </nz-form-control>
        </nz-form-item>
    </nz-form>

</nz-modal>

<!-- Sections for each role with permissions checkboxes -->
<div>
    <nz-collapse>
        @for (role of roles; track role) {
        <nz-collapse-panel #p [nzHeader]="role.role_name">
            <div *ngIf="editCache[role.id]?.edit">
                <nz-form-item>
                    <nz-form-label nzFor="terms">Role Name</nz-form-label>
                    <nz-form-control nzErrorTip="">
                        <input type="text" nz-input [(ngModel)]="editCache[role.id].data.role_name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <nz-row nzGutter="8">
                <nz-col *ngFor="let item of appPermissions | keyvalue" [nzSm]="12" [nzXs]="12" [nzMd]="6" [nzXl]="6"
                    [nzXXl]="4">
                    <label nz-checkbox [disabled]="!editCache[role.id]?.edit"
                        [(ngModel)]="role.role_permissions[item.value]"></label>
                    {{
                    permissionNames[item.value]}}

                </nz-col>
            </nz-row>
            <span *appHasPermission="appPermissions.UpdatePermissions">
                <div *ngIf="!editCache[role.id]?.edit">
                    <a (click)="startEdit(role.id)">Edit</a>
                </div>
                <div *ngIf="editCache[role.id]?.edit">
                    <a (click)="saveEdit(role.id)" class="save">Save</a> &nbsp;
                    <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(role.id)">Cancel</a>

                </div>
            </span>
            <ng-template #expandedIcon let-active>
                {{ active }}
                <span nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></span>
            </ng-template>
        </nz-collapse-panel>
        }
    </nz-collapse>

    <!-- <nz-table #editRowTable #fixedTable [nzData]="roles" [nzScroll]="{ x: '1000px' }">
        <thead>
            <tr>
                <th nzLeft>Role Name</th>

                <th *ngFor="let item of appPermissions | keyvalue">

                    <label nz-checkbox disabled [(ngModel)]="role.role_permissions[item.value]"></label> {{
                    permissionNames[item.value]}}
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of roles">
                <ng-container *ngIf="!editCache[data.id]?.edit; else editTemplate">
                    <td nzLeft>{{ data.role_name }}</td>
                    <td *ngFor="let item of appPermissions | keyvalue">
                        <label nz-checkbox disabled [(ngModel)]="data.role_permissions[item.value]"></label>
                    </td>
                    <td>
                        <a (click)="startEdit(data.id)">Edit</a>
                    </td>
                </ng-container>
                <ng-template #editTemplate>
                    <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.role_name" /></td>
                    <td *ngFor="let item of appPermissions | keyvalue">
                        <label nz-checkbox [(ngModel)]="data.role_permissions[item.value]"></label>
                    </td>
                    <td>
                        <a (click)="saveEdit(data.id)" class="save">Save</a> &nbsp;
                        <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?"
                            (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </nz-table> -->

</div>