<h1>Attendance</h1>

<div class="flex center space-between">
    <strong>{{ currentDate | date: 'longDate' }}</strong>
    <div *ngIf="signInTime"> {{signInTime | date : 'hh:mm a'}}</div>
    <button nz-button nzType="primary" *ngIf="!signInTime" mat-button (click)="signIn()">Sign In</button>
    <div *ngIf="signOutTime"> {{signOutTime | date : 'hh:mm a'}}</div>
    <button nz-button nzType="primary" *ngIf="signInTime&&signOutTime" mat-button (click)="signOut()">Sign Out</button>
</div>

<!-- Tabs for users belonging to supervisor -->
<nz-tabset>
    <nz-tab *ngFor="let user of supervisorUsers" [nzTitle]="titleTemplate">
       <ng-template #titleTemplate>
                <td>{{ user.employee?.employee.name}}</td>
       </ng-template>
       <app-attendance-details *ngIf="user.employee" [employee]="user.employee" [isSupervisor]="user.isSupervisor"></app-attendance-details>
    </nz-tab>
</nz-tabset>