<div class="flex center space-between">
    <h3>Payments</h3>
    <button nz-button nzType="primary" (click)="showModal()">
        <span>Add Payment</span>
    </button>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Add Contractor Payment" (nzOnCancel)="handleCancel()"
    [nzOkDisabled]="addContractorPaymentForm.invalid" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">

    <nz-card *nzModalContent style="width:100%">
        <form nz-form [formGroup]="addContractorPaymentForm" (ngSubmit)="handleOk()">
            <nz-row nzGutter="2" style="margin-bottom: 12px;">
                <!-- <nz-col [nzMd]="10" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzMd]="8" [nzSm]="24" [nzXs]="12" nzRequired nzFor="from">From</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid date!">
                            <nz-range-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
                        </nz-form-control>
                    </nz-form-item>
                </nz-col> -->
                <nz-col *ngIf="contractDetails.contract_type == '1'" [nzMd]="10" [nzSm]="16" [nzXs]="16">
                    <nz-form-item>
                        <nz-form-label [nzMd]="8" [nzSm]="24" [nzXs]="12" nzRequired nzFor="amount">Amount
                            </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid date!">
                            <input nz-input formControlName="amount" >
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
            </nz-row>

            <nz-row nzGutter="2" style="margin-bottom: 12px;">
                <nz-col [nzMd]="24" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzMd]="8" [nzSm]="24" [nzXs]="24" nzRequired nzFor="name">Payment
                            Notes</nz-form-label>
                        <nz-form-control class="flex space-between center " [nzSm]="14" [nzXs]="24"
                            nzErrorTip="The input is not valid date!">
                            <textarea class="inputField" nz-input formControlName="note"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
            </nz-row>
        </form>
    </nz-card>
</nz-modal>
<ng-template #renderTemplate>
    <div class="container">
        <input type="text" nz-input #inputElement />
        <a class="add-item" (click)="addItem(inputElement)">
            <span nz-icon nzType="plus"></span>
            Add item
        </a>
    </div>
</ng-template>

<nz-table #editRowTable [nzPageSize]="1000" #sortTable nzShowPagination="false" [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                {{ column.title }}
            </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <td>
                {{ data.note }}</td>
            <td>{{ data.amount }}</td>
            <!-- <td>
                {{data.no_of_units}}
            </td> -->
            <!-- <td> -->
            <!-- <a *ngIf="!editCache[data.id]?.edit" (click)="startEdit(data.id)">Edit</a>
                <a *ngIf="editCache[data.id]?.edit" (click)="saveEdit(data.id)" class="save">Save</a> &nbsp;
                <a *ngIf="editCache[data.id]?.edit" nz-popconfirm nzPopconfirmTitle="Sure to cancel?"
                    (nzOnConfirm)="cancelEdit(data.id)">Cancel</a> -->

            <!-- </td> -->

        </tr>
    </tbody>
</nz-table>