/* You can add global styles to this file, and also import other style files */
body {
    background: #001529 !important;
}

.text-center {
    text-align: center;
}

.p4 {
    padding: 1em;

}

.app-shell,
app-shell {
    width: 100% !important;
    height: 100vh;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.center {
    align-items: center;
}

-main {
    overflow-y: auto;
    margin: 0px !important;
    padding: 10px;

}

.ant-breadcrumb {
    top: -6px;
    position: relative;
    left: 0px;
    padding: 4px 21px;
    color: white;
    font-size: 11px;
    box-shadow: -3px 5px 5px -6px #000000a6;
}

.ant-layout-header {
    height: 40px;
    background: #f1e5ff;
    color: black;
}

.ant-breadcrumb-link {
    color: #0000008f !important;
}

.smallIcon {
    width: 52px;
    height: 32px;
}
.inputField{
    width: 100% !important;  
}
nz-date-picker,input,textarea,.ant-select-selector,nz-input-number,.ant-upload>button,nz-select-top-control {
    width: 100% !important;
    border-radius: 8px !important;
    background: white;
    color: #4f4d4d !important;
    margin-left: 4px !important;
    border: 0.5px solid #d0cfcf;
    min-height: 26px;
}

.ant-form-item-control-input {
    width: 100%;
}

tfoot tr td {
    border: none !important
}

.ant-table-placeholder {
    display: none;
}

.detailBar-collapsible {
    display: flex;
    width: 100%;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    line-height: 1.5;
}
.ant-collapse-header {
    border-radius: 0 0 0px 0px !important;
}

.detailBar {
    display: flex;
    width: 100%;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.ant-card-head-title{
    padding:8px
}
.ant-card-head{
    min-height: 28px;
    padding:8px

}
.payment_history{
    padding:0px !important
}
.appbackground {
    /* background: url('../28.jpg') !important; */
    background-size: cover !important
}

.ant-card {}

.ant-table {
    background: #ffffffa8;
    border-radius: 8px 8px 0px 0px !important;
}

.ant-table-footer,
.ant-table-thead>tr>th {
    color: white ;
    background: #21263C ;

}

.ant-table-tbody>tr.ant-table-row:hover>td,
.ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: #fafafa69;
}

.ant-table tfoot>tr>td,
.ant-table tfoot>tr>th,
.ant-table-tbody>tr>td,
.ant-table-thead>tr>th {
    position: relative;
    padding: 8px;
    font-size: 12px;
    overflow-wrap: break-word;
}

.ant-table-expanded-row .ant-table-wrapper {
    margin: 7px 8px 7px -8px;
}

.purchase-row {
    background: #c6ffc6;
}

.sale-row {
    background: #ffe1e1;
}

input.ng-invalid {
    border: 1px solid red;
}

.error {
    color: red;
}

td>input {
    width: 100px;
    display: flex;
}

.ant-input {}

.ant-layout-sider-children {

    overflow: auto;
    padding-bottom: 25px;


}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb18;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff82;
}

.header-button {
    border-radius: 13px !important;
    background: #f0f8ff52 !important;
    /* color: white !important; */
    margin-left: 14px !important;
}

.header-button>.ant-select-selector {
    border-radius: inherit !important;
    background: none !important;
    color: inherit !important;
}

.control {
    border-radius: 13px !important;
    background: white;
    color: #4f4d4d !important;
    margin-left: 14px !important;
    border: 0.5px solid #d0cfcf;
}

.control>.ant-select-selector {
    border-radius: inherit !important;
    background: none !important;
    color: inherit !important;
}

.ant-form-item-label {
    text-align: left;
}

.ant-table-expanded-row>td {
    background: transparent !important;
}

.status-chip {
    background: #00000047;
    padding: 4px;
    border-radius: 6px;
    color: white;
    font-size: 10px;
}

a:hover {
    color: inherit !important;
}

.container {
    display: block !important;
    height: calc(100vh - 62px);
    overflow-y: auto;
}

.sidebarright {
    border-left: 1px solid #80808033;
}

.ant-btn-primary {
    border-color: #BB86FC;
    background: #BB86FC;
}

.ant-btn-primary:hover {
    border-color: #cca4fc;
    background: #cca4fc;
}

.ant-btn-primary:focus {
    border-color: #cca4fc;
    background: #cca4fc;
}

.ant-card-body {
    padding: 8px !important;
}

.ant-collapse-header {
    padding: 5px !important;
}

.ant-table-footer {
    padding: 5px;
}

.ant-list-item-meta-title {
    font-size: 12px;
    line-height: 1;
}
.ant-list-item-meta {
    align-items: center;
}
.ant-list-item-meta-description {
    font-size: 12px;
    line-height: 2;
}

.ant-btn-round.ant-btn-sm {
    height: 24px;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 24px;
    line-height: 1;
    text-wrap: nowrap;
}

.ant-form-item-label>label {
    font-size: 12px;
}

.ant-select {
    font-size: 12px;

}

.ant-picker-input>input {
    font-size: 12px;
}

.ant-input {
    font-size: 12px;
    padding: 4px 4px;
}

.cdk-overlay-pane>.ant-select-dropdown>div {
    max-height: 50vh;
}

.ant-collapse{
    border: 0px !important;
    background-color: inherit;
}

.ant-collapse-item{
    margin: 7px 0px 0px 0px!important;
}
.ant-list-item{
    padding: 0px;
}

.ant-collapse > .ant-collapse-item {
    border: 1px solid #F1E5FF;
    padding: 0px;
    margin: 14px;
    background: #F1E5FF;
    border-radius: 4px !important;
}
.ant-collapse-content {
    border-radius: 12px !important;
}

ul {
    border-bottom: 1px solid;
}
.search-box {
    padding: 8px;
  }

  .search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }

  .search-box button {
    width: 90px;
  }

  .search-button {
    margin-right: 8px;
  }
.ant-table-filter-column {
    justify-content: flex-start;
    display: flex;
}
  /* nz-table-sorters{
    width: min-content;
  } */

  nz-filter-trigger{
    width: 100%;
  }

  .ant-input-suffix{
    font-size: 11px;
    color: #4f4d4d;
  }
  .ant-input-affix-wrapper{
    padding: 0px;
    border: 0px solid #d9d9d9;
  }
  .remainingAmount{
    color: red;
  }
  .ant-input-affix-wrapper{
    .ant-input::placeholder{
        border-bottom: 0.5px solid #f0e3ff;
        border-radius: 0px !important;
    
    }
  }

  .payment_history  th {
    background: transparent !important;
    color: black !important;
  }
  .ant-table-column-sort{
    color: white ;
    background: #5f647c !important ;
  }

  .selectedItem:hover{
cursor: pointer;
background-color: #d3d3d3;
  }

  @media (max-width: 600px) {
    table{
        width: max-content;
    }
th{
    font-size: 10px !important;
    text-wrap: nowrap;
}  
td{
    font-size: 10px !important;
    text-wrap: nowrap;
}  
.ant-table-cell{
    padding: 4px !important;
}

.ant-list-item-meta-avatar {
    margin-right: 8px !important;
}

.ant-list-item-meta-title{
    font-size: 11px;
}
.ant-list-item-meta-description{
    line-height: 1.7;
    font-size: 10px;
}
.listSecondSection{
    span{
        font-size: 10px;
    }
}
}

.listSecondSection {
    display: grid;
    width: inherit;
    align-items: end;
    font-size: 10px;
    float: right;
    justify-content: flex-end;
    .ant-btn-sm{
    max-width: 73px;
    text-wrap: wrap !important;
    height: auto;
    padding: 3px 2px 3px 2px;

    margin-left: auto;
    font-size: 11px;
    span{
        font-size: 8px;
        text-rendering: geometricPrecision;
        LINE-HEIGHT: 0.6;
        letter-spacing: 0.4px;
    }
    }
   
    
}
.ant-btn-sm{
    span{
        font-size: 11px;
        text-rendering: geometricPrecision;
        LINE-HEIGHT: 0.6;
        letter-spacing: 0.4px;
    }
}
.ant-table{
    display: block;
    overflow: auto;
}
.ant-list-items{
    text-wrap: wrap;
}
.avatar-initials {
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 30px;
    height: 30px;
    /* font-size: 14px; */
    font-variant: tabular-nums;
    line-height: 1.5715;
    border-radius: 50%;
    background-color: #BB86FC;
    color: white;
    font-size: 10px;
    font-weight: bold;
  }