<button nz-button nzType="primary" (click)="open()">Add</button>
<!-- <app-create-user-drawer *ngIf="visible" [visible]="visible" [userRoles]="userRoles" [users]="listOfData" (closeDrawer)="close($event)"></app-create-user-drawer> -->
<nz-table #sortTable [nzData]="sites" nzTableLayout="fixed">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumn" >
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
        </tr>
    </tbody>
</nz-table>