<div class="flex space-between" style="">
    <span style="display: -webkit-box;width: 100%;">
        <h3 style="margin-right: 5px;">
            Sites
        </h3>

        <nz-input-group [nzSuffix]="suffixIconSearch" [nzSuffix]="inputClearTpl">
            <input type="text" placeholder="Search here" [(ngModel)]="searchValue" (keyup)="search()" nz-input />

        </nz-input-group>
        <ng-template #inputClearTpl>
            @if (searchValue) {
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                (click)="searchValue = '';search()"></span>
            } @else{
            <span nz-icon nzType="search"></span>
            }
        </ng-template>
        <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
        </ng-template>

    </span>  <a [routerLink]="['./','new']" [state]="{tracingId: 2}">
        <button nz-button nzType="primary" [nzSize]="'small'">
            <span nz-icon nzType="plus"> </span>
        </button>
       
        
    </a>
    <a (click)="export()" style="margin-left: 10px;">
        <button nz-button nzType="primary" [nzSize]="'small'">
            <span nz-icon nzType="download"> </span>
        </button>
    </a>
</div>


<nz-table [nzPageSize]="1000"  #sortTable  [nzShowPagination]="false" [nzData]="listOfDisplayData" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th nzWidth="60px"></th>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" 
            [nzWidth]="column.width"
            [nzSortPriority]="column.priority">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container  *ngFor="let data of sortTable.data; let i = index">

            <tr [class.expanded]="expandSet.has(data.id)" class="selectedItem"> 
                <td [nzExpand]="expandSet.has(data.id)"
                    (nzExpandChange)="onExpandChange(data.id, $event)"></td>

                <td [routerLink]="[ data.id]" >
                    <nz-list nzItemLayout="horizontal">
                        <nz-list-item>
                            <nz-list-item-meta>
                                <nz-list-item-meta-title>
                                    <span class="flex space-between">
                                        <span>{{data.name}} - {{ data.owner }}</span>
                                        <span>{{data.amount | currency :'PKR '}}</span>
                                    </span>

                                </nz-list-item-meta-title>
                                <nz-list-item-meta-description>
                                    <span class="flex space-between">
                                        <span>
                                            Site-{{data.id}}
                                            <nz-divider nzType="vertical"></nz-divider>
                                            <span class="dateDisplay">
                                                {{data.date_created | date : 'dd MMM yyyy' }}</span>
                                        </span>
                                    </span>
                                </nz-list-item-meta-description>
                            </nz-list-item-meta>
                        </nz-list-item>
                    </nz-list>
                </td>
                <td style="text-align: end;">
                    <button nz-button nzType="primary"
                        [className]="data.state===siteStates.Completed? 'green-button':'default'"
                        [nzDanger]="data.state===siteStates.Cancelled" [nzSize]="'small'" nzShape="round">
                        {{ siteStateNames[data.state] }}
                    </button>
                </td>

            </tr>
            <tr [class.expanded]="expandSet.has(data.id)" [nzExpand]="expandSet.has(data.id)" class="expanded-table">
                <app-site-contractors *ngIf="expandSet.has(data.id)" [site_id]="data.id"></app-site-contractors>

            </tr>

            <ng-template #expandIcon>
                <span nz-icon *ngIf="!expandSet.has(data.id)" nzType="double-right" nzTheme="outline"
                    style="font-size: 16px; color: #08c;" (click)="onExpandChange(data.id, true)"></span>
                <span nz-icon *ngIf="expandSet.has(data.id)" [nzRotate]="90" nzType="double-right" nzTheme="outline"
                    style="font-size: 16px; color: #08c;" (click)="onExpandChange(data.id, false)"></span>
            </ng-template>
        </ng-container>
    </tbody>
</nz-table>